.bg-btn-primary {
  width: 6.428571428571429vw;
  min-width: 6rem;
  background: url('/images/btn_primary.png') center center/cover no-repeat;
}
.bg-btn-catch {
  background: url('/images/btn_catch.png') center center/cover no-repeat;
}

.bg-btn-release {
  background: url('/images/btn_release.png') center center/cover no-repeat;
}
.bg-btn-catch,
.bg-btn-release {
  padding: 0;
  width: 100%;
  padding-top: 100%;
}

.bg-reward-red {
  width: 50px;
  height: 31px;
  background: url('/images/reward_red.png') center/100% 100% no-repeat;
}
.bg-reward-blue {
  width: 50px;
  height: 31px;
  background: url('/images/reward_blue.png') center/100% 100% no-repeat;
}

.bg-reward-sys {
  width: 50px;
  height: 31px;
  background: url('/images/reward_sys.png') center/100% 100% no-repeat;
}

.bg-star-blue-10 {
  width: 117px;
  height: 59px;
  background: url('/images/star_blue_10.png') center/100% 100% no-repeat;
}

.bg-star-blue-20 {
  width: 117px;
  height: 59px;
  background: url('/images/star_blue_20.png') center/100% 100% no-repeat;
}

.bg-star-blue-50 {
  width: 117px;
  height: 59px;
  background: url('/images/star_blue_50.png') center/100% 100% no-repeat;
}

.bg-star-blue-100 {
  width: 117px;
  height: 59px;
  background: url('/images/star_blue_100.png') center/100% 100% no-repeat;
}

.bg-star-blue-200 {
  width: 117px;
  height: 59px;
  background: url('/images/star_blue_200.png') center/100% 100% no-repeat;
}

.bg-star-blue-500 {
  width: 117px;
  height: 59px;
  background: url('/images/star_blue_500.png') center/100% 100% no-repeat;
}

.bg-star-red-10 {
  background: url('/images/star_red_10.png') center/100% 100% no-repeat;
}

.bg-star-red-20 {
  width: 117px;
  height: 59px;
  background: url('/images/star_red_20.png') center/100% 100% no-repeat;
}

.bg-star-red-50 {
  width: 117px;
  height: 59px;
  background: url('/images/star_red_50.png') center/100% 100% no-repeat;
}

.bg-star-red-100 {
  width: 117px;
  height: 59px;
  background: url('/images/star_red_100.png') center/100% 100% no-repeat;
}

.bg-star-red-200 {
  width: 117px;
  height: 59px;
  background: url('/images/star_red_200.png') center/100% 100% no-repeat;
}

.bg-star-red-500 {
  width: 117px;
  height: 59px;
  background: url('/images/star_red_500.png') center/100% 100% no-repeat;
}

.bg-thumbs-up-blue {
  width: 231px;
  height: 58px;
  background: url('/images/btn_css_sprites.png') -10px -10px;
}

.bg-thumbs-up-red {
  width: 231px;
  height: 58px;
  background: url('/images/btn_css_sprites.png') -10px -88px;
}
