.bg-dicount_blue_60 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -10px -10px;
}

.bg-dicount_blue_70 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -10px -182px;
}

.bg-discount_red_70 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -10px -354px;
}

.bg-discount_blue_50 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -624px -10px;
}

.bg-discount_red_40 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -624px -182px;
}

.bg-discount_blue_40 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -624px -354px;
}

.bg-discount_red_50 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -10px -526px;
}

.bg-discount_red_60 {
  width: 594px;
  height: 152px;
  background: url('/images/discount.png') -624px -526px;
}
