.bg-rank_today {
  width: 227px;
  height: 95px;
  background: url('/images/rank_result.png') -624px -234px;
}

.bg-rank_week {
  width: 227px;
  height: 95px;
  background: url('/images/rank_result.png') -871px -234px;
}

.bg-result_even {
  width: 594px;
  height: 204px;
  background: url('/images/rank_result.png') -10px -10px;
}

.bg-result_win_blue {
  width: 594px;
  height: 204px;
  background: url('/images/rank_result.png') -10px -234px;
}

.bg-result_win_red {
  width: 594px;
  height: 204px;
  background: url('/images/rank_result.png') -624px -10px;
}
