.bg-rank-today {
  width: 159px;
  height: 32px;
  background: url('/images/rank_result.png') -624px -234px;
}

.bg-rank-week {
  width: 157px;
  height: 32px;
  background: url('/images/rank_result.png') -803px -234px;
}

.bg-result-win-red {
  width: 594px;
  height: 204px;
  background: url('/images/rank_result.png') -10px -10px;
}

.bg-result-even {
  width: 594px;
  height: 204px;
  background: url('/images/rank_result.png') -10px -234px;
}

.bg-result-win-blue {
  width: 594px;
  height: 204px;
  background: url('/images/rank_result.png') -624px -10px;
}
