.bg-radio_off {
  width: 16px;
  height: 16px;
  background: url('/images/tinyicon.png') -10px -57px;
}

.bg-rank_3 {
  width: 25px;
  height: 27px;
  background: url('/images/tinyicon.png') -10px -10px;
}

.bg-rank_1 {
  width: 25px;
  height: 27px;
  background: url('/images/tinyicon.png') -55px -10px;
}

.bg-radio_on {
  width: 16px;
  height: 16px;
  background: url('/images/tinyicon.png') -46px -57px;
}

.bg-rank_2 {
  width: 25px;
  height: 27px;
  background: url('/images/tinyicon.png') -100px -10px;
}
